.users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.user-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  width: 300px;
}

.user-card h3 {
  margin-top: 70px;
}

.user-card a {
  color: #007bff;
  text-decoration: none;
}

.user-card a:hover {
  text-decoration: underline;
}
